* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #270204, #570204);
  font-family: sans-serif;
  height: 100vh;
}

header {
   text-align: center;
   font-size: 32px;
   color: #fdbf03;
   margin-top: 3rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
}

label {
  font-size: 24px;
  color: #FE9403;
}

#user-input {
  padding: 0.5rem 1rem;
  font-size: 16px;
  border-radius: 5px;
  background-color: black;
  color: antiquewhite;
  border: 1px solid #FE9403 ;
}

#user-input:focus {
    outline: 2px solid #fdbf03;

}

#submit-btn {
  display: none;
}

#list-div {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
}

li {
  color: #FE9403;
  font-size: 18px;
  font-weight: bold;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  min-width: 300px;
  margin-bottom: 0.5rem;
}

#delete-btn {
  background-color: #FE9403;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border: none;
  font-size: 10px;
  font-weight: bold;
    &:hover{
      background-color: #fdbf03;
      transition: 0.3s;
      cursor: pointer;
    }
}
